.page-footer {
  width: 100%;
  
  background-color: rgba($color: #000000, $alpha: 0.9);

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100px;
  }

  &__copyrights {
    display: block;

    font-family: "OpenSans";
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    text-align: center;

    color: rgba($color: #ffffff, $alpha: 0.5);

    &_bold {
      font-weight: bold;
    }
  }
}
